* {
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

li {
    cursor: pointer;
    transition: 300ms ease-in-out;
}

li:hover {
    opacity: .75;
}